.App {
  background:linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  min-height: 50vh;
}

.App header{
  font-family: 'Style Script', cursive;
  font-size: 3rem;
}
.App ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App input, button, select {
  border: none;
  font-size: 1.5rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}
.App button {
  padding: 0;
}
.todo-item {
  margin-top: 1rem;
}
.todo-item:hover{
  background-color: rgba(255, 255, 255, 0.7);
}

.todo-item-text {
  margin-right: 1rem;
}
@media (max-width: 450px) {
  .App {
    padding: 1rem;
    font-size: 1rem;
  }
  .App input, button, select {
    font-size: 1rem;
  }
}